@font-face{
    font-family: "Norwester";
    src:url(../fonts/norwester.otf);
}
@font-face{
    font-family: "Kollektif-bold";
    src: url(../fonts/Kollektif/Kollektif-Bold.ttf);
}
@font-face{
    font-family: "Playlist-Script";
    src:url(../fonts/Playlist-Script.otf);
}